.App{
    .sidebar{
        width: 16%;
        height: 100vh;
        background-color: #0e161b;
        position: fixed;
        border-right: 1px solid #2e344e;
    }
    .main-content{
        width: 84%;
        margin-left: 16%;
        background-color: #0a151b;
        min-height: 100vh;
    }
}