@import './Styles/layout';
@import './Styles/navbar';
@import './Styles/title';
@import './styles/about';
@import './styles/skill';



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #f8f8f8;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.2rem;
}
